body{
  background-image: url('contact.jpg');
  background-repeat: no-repeat;
  background-size: 1600px 800px;
  height: 100%;
  width: 100%;
}
h1{
  color: white;
  font-size: 50px;
  text-align: left;
  padding-left: 20%;
  font-family: arial;
}
form{
  margin:50px auto;
  width: 200px;
  padding-right: 50%;
  border-radius: 10px;
  font-family: sans-serif;
}
div{
  margin-top: 15px;
}
label,p{
  display: inline-block;
  width: 120px;
  /* text-align: right; */
  color: white;
  font-size: 20px;
  padding-right: 20px;

}
input, textarea{
  font-size: 18px;
  font-family: sans-serif;
  background: rgba(189,189,189,0.3);
  color: white;
  /* vertical-align: top; */
}
.button{
  text-decoration: none;
  border:none;
  background: black;
  color: white !important;
  font-weight: 100;
  padding: 10px;
  transition: all 0.5s ease 0s;
  display: inline-block;
  font-family: sans-serif;
  font-size: 20px;

}

/*.sidenav{
  /* background-image: url('white.jpg');
  background-repeat: no-repeat;
  display: none;
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 60px; */
}
span{
  color: white;
}
/*.sidenav a{
  padding: 30px,28px,8px,32px;
  padding-left: 20px;
  padding-top: 30px;
  text-decoration: none;
  font-size: 25px;
  color: red;
  display: block;

}
.sidenav a:hover{
  color: black;
}
.sidenav .closebtn{
  position: absolute;
  color: black;
  top: 0;
  right: 25px;
  fonsize: 40px;
  margin-left: 50px;*/
}
img{
  width: 85%;
  height: 25%;
  padding-top: 80%;
  padding-left: 8%;
}
